<main class="container">
    <navigation-header header="Available Services" (back)="goToBack($event)"></navigation-header>
<div class="row mb-3 pt-7">
    <div class="col"> 
        <small class="text-opac">Earn Money by providing services to others.</small>
    </div> 
</div>
<div class="row">
    <div class="col-6 col-md-4 col-lg-3" *ngFor="let item of Services;">
        <div class="card shadow-sm product mb-4">
            <div class="card-body">
                <figure class="text-center">
                    <img [src]="item.description" style="width: 70px;height:auto;" class="img"alt="">
                </figure>
                <p class="mb-1">
                    <small class="text-opac">Paid</small>
                    <small class="float-end"><span class="text-opac">4.5</span> <i class="bi bi-star-fill text-warning"></i></small>
                </p>
                <a href="product.html" class="text-normal">
                    <h6 class="text-color-theme">{{item.title}}</h6>
                </a>
                <div class="row">
                    <div class="col">
                        <p class="mb-0">R.S {{item.cost}}<br><small class="text-opac">{{item.type}}</small></p>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm avatar avatar-30 p-0 rounded-circle shadow btn-gradient"
                            data-bs-toggle="modal" data-bs-target="#addproductcart">
                            <i class="bi bi-plus size-22"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>