<!-- 
  
  <main role="main" class="container-fluid">
   
    <div class="row">
      <div class="col-md-4 col-sm-12">
      </div>
      <div class="col-md-4 col-sm-12 div-center">
      
    <h3 class="textCenter">Sign in</h3>
    <hr />
    <form [formGroup]="userForm" (submit)="OnVerifyEmailAddress()">
      <div class="form-group"  > 
          <input type="email" formControlName="email" id="email"   placeholder="Email">
          
 
        <button type="button"  class="btn btn-link">Forgot Email?</button>
      </div>
      <button type="button" mat-raised-button (click)="CreateUser()">Create Account</button>
      <button type="submit" class="floatR" color="primary" mat-raised-button>Next</button>
      
    

    </form>
  </div>
</div>
</main> -->


    <!-- Begin page content -->
    <main class="container-fluid h-100 main-container">
      <div class="overlay-image text-end">
          <img src="assets/img/orange-slice.png" class="orange-slice" alt="">
      </div>

      <div class="row h-100">
          <div class="col-12 text-center">
              <div class="logo-small">
                  <img src="assets/img/logo.png" alt="" class="img">
                  <h6>GO<br><small>MobileUX</small></h6>
              </div>
          </div>
          <div class="col-12 mx-auto text-center">
              <div class="row h-100" *ngIf="!isEmailVerify">
                  <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-xl-3 mx-auto align-self-center">
                      <h2 class="text-center mb-4">Sign in</h2>
                      <div class="card card-light shadow-sm mb-4">
                          <div class="card-body">
                              <form class=" was-validated">
                                  <div class="form-floating mb-3">

                                    <!-- <input type="text" id="login-username" name="username" placeholder="Enter Email" autocomplete="username" class="form-control" [ngClass]="{'is-valid': f.submitted && username.valid, 'is-invalid' : f.submitted && !username.valid}"
                                    [(ngModel)]="createUserDto.Email" #username="ngModel" required />
                             <i *ngIf="f.submitted" class="fa form-control-feedback" [ngClass]="{'fa-check': username.valid, 'fa-times' : !username.valid}" aria-hidden="true"></i>
                             <span class="invalid-feedback" *ngIf="f.submitted && !username.valid">
                               Email is required
                             </span>
                              -->
                                      <input type="email" class="form-control" id="emailaddress" placeholder="name@example.com"
                                          value="emailaddress@example.com">
                                      <label for="emailaddress">Enter Email</label>
                                      <button type="button" class="btn btn-link text-success tooltip-btn valid-tooltip"
                                          data-bs-toggle="tooltip" data-bs-placement="left" title="Email is valid">
                                          <i class="bi bi-check-circle"></i>
                                      </button>
                                  </div>
                                  <div class="form-floating mb-3">
                                      <input type="password" class="form-control is-invalid" id="password"
                                          placeholder="Your Password" value="emailaddress">
                                      <label for="password">Password</label>
                                      <button type="button"  class="btn btn-link text-danger tooltip-btn invalid-tooltip"
                                          data-bs-toggle="tooltip" data-bs-placement="left" title="Enter valid password">
                                          <i class="bi bi-exclamation-circle"></i>
                                      </button>
                                  </div>
                              </form>

                              <div class="d-grid"><a href="forgotpassword.html" class="link mb-3">Forgot
                                      Password?</a></div>

                              <div class="d-grid"><a href="home.html" class="btn btn-lg btn-default shadow-sm">Sign
                                      in</a></div>
                          </div>
                      </div>
                      <p class="text-center">OR<br>Continue with</p>
                      <p class="text-center">
                          <a href="#" class="btn btn-link"><i class="bi bi-facebook"></i></a>
                          <a href="#" class="btn btn-link"><i class="bi bi-twitter"></i></a>
                          <a href="#" class="btn btn-link"><i class="bi bi-google"></i></a>
                      </p>

                  </div>
              </div>


              <div class="row h-100" *ngIf="!!statusCode">
                <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-xl-3 mx-auto align-self-center">
                    <h2 class="text-center mb-4">Sign in</h2>
                    <div class="card card-light shadow-sm mb-4">
                        <div class="card-body">
                            <form class=" was-validated">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control is-valid" id="emailaddress" placeholder="name@example.com"
                                        value="emailaddress@example.com">
                                    <label for="emailaddress">Username/Email</label>
                                    <button type="button" class="btn btn-link text-success tooltip-btn valid-tooltip"
                                        data-bs-toggle="tooltip" data-bs-placement="left" title="Email is valid">
                                        <i class="bi bi-check-circle"></i>
                                    </button>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control is-invalid" id="password"
                                        placeholder="Your Password" value="emailaddress">
                                    <label for="password">Password</label>
                                    <button type="button"  class="btn btn-link text-danger tooltip-btn invalid-tooltip"
                                        data-bs-toggle="tooltip" data-bs-placement="left" title="Enter valid password">
                                        <i class="bi bi-exclamation-circle"></i>
                                    </button>
                                </div>
                            </form>

                            <div class="d-grid"><a href="forgotpassword.html" class="link mb-3">Forgot
                                    Password?</a></div>

                            <div class="d-grid"><a href="home.html" class="btn btn-lg btn-default shadow-sm">Sign
                                    in</a></div>
                        </div>
                    </div>
                    <p class="text-center">OR<br>Continue with</p>
                    <p class="text-center">
                        <a href="#" class="btn btn-link"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="btn btn-link"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="btn btn-link"><i class="bi bi-google"></i></a>
                    </p>

                </div>
            </div>

          </div>
          <div class="col-12 text-center align-self-end py-2">
              <div class="row">
                  <div class="col text-center">
                      Don't have account? <a href="signup.html" class="btn btn-link px-0 ms-2">Sign up <i class="bi bi-chevron-right"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </main>





<div class="d-flex h-90">
    <div class="login-container m-auto">
      <div class="card boxshadow" *ngIf="!isEmailVerify">
        <div class="card-header bg-primary dark text-white clearfix">
          <i class="fa fa-lock" aria-hidden="true"></i> Verify Email
          <button *ngIf="isModal" type="button" class="close float-right text-light" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-body">
          <div class="col-md-8 offset-md-2">
            <form *ngIf="formResetToggle" class="login" name="loginForm" #f="ngForm" novalidate
                  (ngSubmit)="f.form.valid ? OnVerifyEmailAddress() :
                            (!username.valid && showErrorAlert('Username is required', 'Please enter a valid Email'));">
              <div class="form-group row has-feedback-icon">
                <label class="col-form-label col-md-3" for="login-username">Email:</label>
                <div class="col-md-9">
                  <input type="text" id="login-username" name="username" placeholder="Enter Email" autocomplete="username" class="form-control" [ngClass]="{'is-valid': f.submitted && username.valid, 'is-invalid' : f.submitted && !username.valid}"
                         [(ngModel)]="createUserDto.Email" #username="ngModel" required />
                  <i *ngIf="f.submitted" class="fa form-control-feedback" [ngClass]="{'fa-check': username.valid, 'fa-times' : !username.valid}" aria-hidden="true"></i>
                  <span class="invalid-feedback" *ngIf="f.submitted && !username.valid">
                    Email is required
                  </span>
                </div>
              </div>
           
              <div class="form-group row">
                <div class="offset-md-3 col-md-5">
                  <button type="submit" class="btn btn-primary" [disabled]="isLoading">
                    <i *ngIf="isLoading" class='fa fa-circle-o-notch fa-spin'></i> {{isLoading ? 'Logging in...' : 'Login'}}
                  </button>
                  <button type="button" (click)="cancel()" class="btn btn-light">Cancel</button>
                </div>
                
                <div class="col-md-4">
                  <span style="float: right;"> <a (click)="registerUser()"> Register User </a></span>
                 </div>
              </div>
            </form>
          </div>
        </div>
      </div>


      <div class="card boxshadow" *ngIf="!!statusCode">
        <div class="card-header bg-primary dark text-white clearfix">
          <i class="fa fa-lock" aria-hidden="true"></i> Login
          <button *ngIf="isModal" type="button" class="close float-right text-light" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-body">       
            <ul>
                <li> <h5>
                    Verify your email address    
                </h5>
            </li>
                <li>
                     
          Enter the verification code we sent to {{loginDto.email}}
          if you don't see it, check your spam folder.
        
                </li>
            </ul>
          <div class="col-md-8 offset-md-2">
            <form *ngIf="formResetToggle" class="login" name="loginForm" #f="ngForm" novalidate
                  (ngSubmit)="f.form.valid ? Login() :
                            (!email.valid && showErrorAlert('Email is required', 'Please enter a valid Email'));">
              <div class="form-group row has-feedback-icon">
                <label class="col-form-label col-md-3" for="login-email">Email:</label>
                <div class="col-md-9">
                  <input type="text" id="login-email" name="email" placeholder="Enter email" autocomplete="email" class="form-control" [ngClass]="{'is-valid': f.submitted && email.valid, 'is-invalid' : f.submitted && !email.valid}"
                         [(ngModel)]="loginDto.email" #email="ngModel" required />
                  <i *ngIf="f.submitted" class="fa form-control-feedback" [ngClass]="{'fa-check': email.valid, 'fa-times' : !email.valid}" aria-hidden="true"></i>
                  <span class="invalid-feedback" *ngIf="f.submitted && !email.valid">
                    Email is required
                  </span>
                </div>
              </div>

              <div class="form-group row has-feedback-icon">
                <label class="col-form-label col-md-3" for="login-passcode">Auth Token:</label>
                <div class="col-md-9">
                  <input type="text" id="login-passcode" name="passcode" placeholder="Enter auth token" autocomplete="passcode" class="form-control" [ngClass]="{'is-valid': f.submitted && passcode.valid, 'is-invalid' : f.submitted && !passcode.valid}"
                         [(ngModel)]="loginDto.passcode" #passcode="ngModel" required />
                  <i *ngIf="f.submitted" class="fa form-control-feedback" [ngClass]="{'fa-check': passcode.valid, 'fa-times' : !passcode.valid}" aria-hidden="true"></i>
                  <span class="invalid-feedback" *ngIf="f.submitted && !passcode.valid">
                   Auth token is required
                  </span>
                </div>
              </div>
              <!-- registerUser -->
              <div class="form-group row">
                <div class="offset-md-3 col-md-5">
                  <button type="submit" class="btn btn-primary" [disabled]="isLoading">
                    <i *ngIf="isLoading" class='fa fa-circle-o-notch fa-spin'></i> {{isLoading ? 'Logging in...' : 'Login'}}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  