################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin
obj
node_modules
/.vs/MCN/config
/.vs/MCN/DesignTimeBuild
/.vs/MCN/v16