<app-header></app-header>
<div class="main-container container">

    <!-- search -->
    <app-search-input></app-search-input>

    <!-- categories -->
    <div class="swiper-container categoriesswiper mb-3">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="assets/img/Mechanics/Electrician.png" alt="">
                    </div>
                </div>
                <p class="categoryname">Electrician</p>
            </div>
            <div class="swiper-slide">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="assets/img/Mechanics/Plumber.png" alt="">
                    </div>
                </div>
                <p class="categoryname">Plumber</p>
            </div>
            <div class="swiper-slide">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="assets/img/Mechanics/IT.png" alt="">
                    </div>
                </div>
                <p class="categoryname">IT</p>
            </div>
            <div class="swiper-slide">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="assets/img/Mechanics/Sweeper.png" alt="">
                    </div>
                </div>
                <p class="categoryname">Sweaper</p>
            </div>
            <div class="swiper-slide">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="assets/img/Mechanics/CarMechanic.png" alt="">
                    </div>
                </div>
                <p class="categoryname">Car Fixer</p>
            </div>
            <div class="swiper-slide">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="assets/img/Mechanics/AC.png" alt="">
                    </div>
                </div>
                <p class="categoryname">AC Fixer</p>
            </div>
            <div class="swiper-slide">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="assets/img/Mechanics/Tutor.png" alt="">
                    </div>
                </div>
                <p class="categoryname">Home Tutor</p>
            </div>
            <div class="swiper-slide">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="assets/img/Mechanics/Electrician.png" alt="">
                    </div>
                </div>
                <p class="categoryname">Electrician</p>
            </div>
            <div class="swiper-slide">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="assets/img/Mechanics/Plumber.png" alt="">
                    </div>
                </div>
                <p class="categoryname">Plumber</p>
            </div>
            <div class="swiper-slide">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="assets/img/Mechanics/IT.png" alt="">
                    </div>
                </div>
                <p class="categoryname">IT</p>
            </div>
            <div class="swiper-slide">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="assets/img/Mechanics/Sweeper.png" alt="">
                    </div>
                </div>
                <p class="categoryname">Sweaper</p>
            </div>
            <div class="swiper-slide">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="assets/img/Mechanics/CarMechanic.png" alt="">
                    </div>
                </div>
                <p class="categoryname">Car Fixer</p>
            </div>
            <div class="swiper-slide">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="assets/img/Mechanics/AC.png" alt="">
                    </div>
                </div>
                <p class="categoryname">AC Fixer</p>
            </div>
            <div class="swiper-slide">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="assets/img/Mechanics/Tutor.png" alt="">
                    </div>
                </div>
                <p class="categoryname">Home Tutor</p>
            </div>
        </div>
    </div>

    <!-- offerslides -->
    <div class="swiper-container offerslides mb-3">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="card shadow-sm card-theme">
                    <div class="card-body py-1">
                        <div class="row">
                            <div class="col-6">
                                <img src="assets/img/Mechanics/Plumber.png" alt="" class="mw-100">
                            </div>
                            <div class="col text-start align-self-center ps-0">
                                <h6 class="fw-normal mb-0">First Discount</h6>
                                <h2>50% OFF</h2>
                                <p>Use Code<br><strong>"PLUMBER"</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="card shadow-sm card-theme">
                    <div class="card-body py-1">
                        <div class="row">
                            <div class="col-6">
                                <img src="assets/img/Mechanics/Electrician.png" alt="" class="mw-100">
                            </div>
                            <div class="col text-start align-self-center ps-0">
                                <h6 class="fw-normal mb-0">Special Discount</h6>
                                <h2>65% OFF</h2>
                                <p>Use Code<br><strong>"ELECTRICIAN"</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="card shadow-sm card-theme">
                    <div class="card-body py-1">
                        <div class="row">
                            <div class="col-6">
                                <img src="assets/img/Mechanics/CarMechanic.png" alt="" class="mw-100">
                            </div>
                            <div class="col text-start align-self-center ps-0">
                                <h6 class="fw-normal mb-0">2nd Discount</h6>
                                <h2>20% OFF</h2>
                                <p>Use Code<br><strong>"MECHANIC"</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination pagination-offerslides"></div>
    </div>

    <!-- Products -->
    <div class="row mb-3">
        <div class="col">
            <h5 class="mb-0">Top Services.</h5>
        </div>
        <div class="col-auto">
            <a href="#" class="link text-color-theme">View All <i class="bi bi-chevron-right"></i></a>
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card shadow-sm product mb-4">
                <div class="card-body">
                    <figure class="text-center">
                        <img src="assets/img/Mechanics/Electrician.png" style="width: 70px;height:auto;" alt="">
                    </figure>
                    <p class="mb-1">
                        <small class="text-opac">Paid</small>
                        <small class="float-end"><span class="text-opac">4.5</span> <i class="bi bi-star-fill text-warning"></i></small>
                    </p>
                    <a href="product.html" class="text-normal">
                        <h6 class="text-color-theme">Electrician</h6>
                    </a>
                    <div class="row">
                        <div class="col">
                            <p class="mb-0">R.S 1200<br><small class="text-opac">24/7</small></p>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-sm avatar avatar-30 p-0 rounded-circle shadow btn-gradient"
                                data-bs-toggle="modal" data-bs-target="#addproductcart">
                                <i class="bi bi-plus size-22"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
            <div class="card shadow-sm product mb-4">
                <div class="card-body">
                    <figure class="text-center">
                        <img src="assets/img/Mechanics/Plumber.png" style="width: 70px;height:auto;" alt="">
                    </figure>
                    <p class="mb-1">
                        <small class="text-opac">Paid</small>
                        <small class="float-end"><span class="text-opac">4.5</span> <i class="bi bi-star-fill text-warning"></i></small>
                    </p>
                    <a href="product.html" class="text-normal">
                        <h6 class="text-color-theme">Plumber</h6>
                    </a>
                    <div class="row">
                        <div class="col">
                            <p class="mb-0">R.S 1000<br><small class="text-opac">24/7</small></p>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-sm avatar avatar-30 p-0 rounded-circle shadow btn-gradient"
                                data-bs-toggle="modal" data-bs-target="#addproductcart">
                                <i class="bi bi-plus size-22"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
            <div class="card shadow-sm product mb-4">
                <div class="card-body">
                    <figure class="text-center">
                        <img src="assets/img/Mechanics/CarMechanic.png" style="width: 70px;height:auto;" alt="">                    </figure>
                    <p class="mb-1">
                        <small class="text-opac">Paid</small>
                        <small class="float-end"><span class="text-opac">4.5</span> <i class="bi bi-star-fill text-warning"></i></small>
                    </p>
                    <a href="product.html" class="text-normal">
                        <h6 class="text-color-theme">Car Mechanic</h6>
                    </a>
                    <div class="row">
                        <div class="col">
                            <p class="mb-0">R.S 2000<br><small class="text-opac">24/7</small></p>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-sm avatar avatar-30 p-0 rounded-circle shadow btn-gradient"
                                data-bs-toggle="modal" data-bs-target="#addproductcart">
                                <i class="bi bi-plus size-22"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
            <div class="card shadow-sm product mb-4">
                <div class="card-body">
                    <figure class="text-center">
                        <img src="assets/img/Mechanics/AC.png" style="width: 70px;height:auto;" alt="">                    </figure>
                    <p class="mb-1">
                        <small class="text-opac">Paid</small>
                        <small class="float-end"><span class="text-opac">4.5</span> <i class="bi bi-star-fill text-warning"></i></small>
                    </p>
                    <a href="product.html" class="text-normal">
                        <h6 class="text-color-theme">AC Mechanic</h6>
                    </a>
                    <div class="row">
                        <div class="col">
                            <p class="mb-0">R.S 3000<br><small class="text-opac">24/7</small></p>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-sm avatar avatar-30 p-0 rounded-circle shadow btn-gradient"
                                data-bs-toggle="modal" data-bs-target="#addproductcart">
                                <i class="bi bi-plus size-22"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Categories -->
    <div class="row mb-3">
        <div class="col">
            <h5 class="mb-0">Are you looking for </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <div class="badge-new me-2 mb-3 shadow-sm">Service Provider?</div>
            <div class="badge-new active me-2 mb-3 shadow-sm">Providing Services?</div>
            <div class="badge-new me-2 mb-3 shadow-sm">Plumber</div>
            <div class="badge-new me-2 mb-3 shadow-sm">Low Rates?</div>
            <div class="badge-new me-2 mb-3 shadow-sm">Mehchanics</div>
            
        </div>
    </div>

    <!-- trending items -->
    <div class="row mb-3">
        <div class="col">
            <h5 class="mb-0">Trending Services</h5>
        </div>
    </div>
    <!-- trending -->
    <div class="swiper-container trendingslides">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="card shadow-sm product mb-4">
                    <figure class="text-center mb-0 bg-light-warning">
                        <img src="assets/img/Mechanics/IT.png" style="width: 70px;height:auto;" alt="">                    </figure>
                    <div class="card-body">
                        <p class="mb-1">
                            <small class="text-opac">Paid</small>
                            <small class="float-end"><span class="text-opac">4.5</span> <i class="bi bi-star-fill text-warning"></i></small>
                        </p>
                        <a href="product.html" class="text-normal">
                            <h6 class="text-color-theme">IT Person</h6>
                        </a>
                        <div class="row">
                            <div class="col">
                                <p class="mb-0">R.S 1200<br><small class="text-opac">12/7</small></p>
                            </div>
                            <div class="col-auto">
                                <!-- button counter increamenter-->
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card shadow-sm product mb-4">
                    <figure class="text-center mb-0 bg-light-warning">
                        <img src="assets/img/Mechanics/Sweeper.png" style="width: 70px;height:auto;" alt="">                    </figure>
                    <div class="card-body">
                        <p class="mb-1">
                            <small class="text-opac">Paid</small>
                            <small class="float-end"><span class="text-opac">4.5</span> <i class="bi bi-star-fill text-warning"></i></small>
                        </p>
                        <a href="product.html" class="text-normal">
                            <h6 class="text-color-theme">Sweaper</h6>
                        </a>
                        <div class="row">
                            <div class="col">
                                <p class="mb-0">R.S 800<br><small class="text-opac">12/7</small></p>
                            </div>
                            <div class="col-auto">
                                <!-- button counter increamenter-->
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card shadow-sm product mb-4">
                    <figure class="text-center mb-0 bg-light-warning">
                        <img src="assets/img/Mechanics/Painter.png" style="width: 70px;height:auto;" alt="">                    </figure>
                    <div class="card-body">
                        <p class="mb-1">
                            <small class="text-opac">Paid</small>
                            <small class="float-end"><span class="text-opac">4.5</span> <i class="bi bi-star-fill text-warning"></i></small>
                        </p>
                        <a href="product.html" class="text-normal">
                            <h6 class="text-color-theme">Painter</h6>
                        </a>
                        <div class="row">
                            <div class="col">
                                <p class="mb-0">R.S 2000<br><small class="text-opac">12/7</small></p>
                            </div>
                            <div class="col-auto">
                                <!-- button counter increamenter-->
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card shadow-sm product mb-4">
                    <figure class="text-center mb-0 bg-light-warning">
                        <img src="assets/img/Mechanics/Tutor.png" style="width: 70px;height:auto;" alt="">                    </figure>
                    <div class="card-body">
                        <p class="mb-1">
                            <small class="text-opac">Paid</small>
                            <small class="float-end"><span class="text-opac">4.5</span> <i class="bi bi-star-fill text-warning"></i></small>
                        </p>
                        <a href="product.html" class="text-normal">
                            <h6 class="text-color-theme">Home Tutor</h6>
                        </a>
                        <div class="row">
                            <div class="col">
                                <p class="mb-0">R.S 800<br><small class="text-opac">6/7</small></p>
                            </div>
                            <div class="col-auto">
                                <!-- button counter increamenter-->
                                <div class="counter-number">
                                    <button class="btn btn-sm avatar avatar-30 p-0 rounded-circle">
                                        <i class="bi bi-dash size-22"></i>
                                    </button>
                                    <span>1</span>
                                    <button class="btn btn-sm avatar avatar-30 p-0 rounded-circle">
                                        <i class="bi bi-plus size-22"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card shadow-sm product mb-4">
                    <figure class="text-center mb-0 bg-light-warning">
                        <img src="assets/img/Mechanics/Doctor.png" style="width: 70px;height:auto;" alt="">                    </figure>
                    <div class="card-body">
                        <p class="mb-1">
                            <small class="text-opac">Paid</small>
                            <small class="float-end"><span class="text-opac">4.5</span> <i class="bi bi-star-fill text-warning"></i></small>
                        </p>
                        <a href="product.html" class="text-normal">
                            <h6 class="text-color-theme">Docotr</h6>
                        </a>
                        <div class="row">
                            <div class="col">
                                <p class="mb-0">R.S 800<br><small class="text-opac">6/7</small></p>
                            </div>
                            <div class="col-auto">
                                <!-- button counter increamenter-->
                                <div class="counter-number">
                                    <button class="btn btn-sm avatar avatar-30 p-0 rounded-circle">
                                        <i class="bi bi-dash size-22"></i>
                                    </button>
                                    <span>1</span>
                                    <button class="btn btn-sm avatar avatar-30 p-0 rounded-circle">
                                        <i class="bi bi-plus size-22"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Near by shops -->
    <div class="row mb-3">
        <div class="col">
            <h5 class="mb-0">Near by Service Providers</h5>
        </div>
    </div>
    <!-- shop slides -->
    <div class="row">
        <div class="col-12 px-0">
            <div class="swiper-container shopslides mb-4">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="card shadow-sm ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-auto">
                                        <figure class="text-center mb-0 avatar avatar-60 page-bg rounded">
                                            <i class="bi bi-shop size-24 text-color-theme"></i>
                                        </figure>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="text-normal text-color-theme">
                                            <h6 class="mb-1">Ali A.C Repairing Lab <i class="bi bi-arrow-up-right-circle text-color-theme float-end"></i></h6>
                                        </a>
                                        <p class="mb-1">Sadar Cantt Lahore</p>
                                        <p class="small d-block">
                                            <span class="text-opac">10:00am - 11:00pm</span>
                                            <span class="float-end"><span class="text-opac">2.5km</span> <i
                                                    class="bi bi-geo-alt"></i></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-auto">
                                        <figure class="text-center mb-0 avatar avatar-60 page-bg rounded">
                                            <i class="bi bi-shop size-24 text-color-theme"></i>
                                        </figure>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="text-normal text-color-theme">
                                            <h6 class="mb-1">Hamza Electrician shop<i class="bi bi-arrow-up-right-circle text-color-theme float-end"></i></h6>
                                        </a>
                                        <p class="mb-1">Gulberg 2, Lahore</p>
                                        <p class="small d-block">
                                            <span class="text-opac">10:00am - 11:00pm</span>
                                            <span class="float-end"><span class="text-opac">3.5km</span> <i
                                                    class="bi bi-geo-alt"></i></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-auto">
                                        <figure class="text-center mb-0 avatar avatar-60 page-bg rounded">
                                            <i class="bi bi-shop size-24 text-color-theme"></i>
                                        </figure>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="text-normal text-color-theme">
                                            <h6 class="mb-1">The Paint House<i class="bi bi-arrow-up-right-circle text-color-theme float-end"></i></h6>
                                        </a>
                                        <p class="mb-1">Defence Housing Scheme Lahore</p>
                                        <p class="small d-block">
                                            <span class="text-opac">10:00am - 11:00pm</span>
                                            <span class="float-end"><span class="text-opac">5.5km</span> <i
                                                    class="bi bi-geo-alt"></i></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- toast messages -->
    <div class="row mb-3">
        <div class="col">
            <h5 class="mb-0">Helpful actions</h5>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="card shadow-sm">
                <ul class="list-group list-group-flush bg-none">
                    <li class="list-group-item" id="toastprouctaddedtinybtn">
                        <div class="row gx-3">
                            <div class="col-auto"><i class="bi bi-check-circle text-color-theme"></i></div>
                            <div class="col">Search for any Skill</div>
                            <div class="col-auto align-self-center">
                                <i class="bi bi-chevron-right text-opac small"></i>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item" id="toastprouctaddedbtn">
                        <div class="row gx-3">
                            <div class="col-auto"><i class="bi bi-check-circle text-color-theme"></i></div>
                            <div class="col">Choose Service Provider</div>
                            <div class="col-auto align-self-center">
                                <i class="bi bi-chevron-right text-opac small"></i>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item" id="toastprouctaddedrichbtn">
                        <div class="row gx-3">
                            <div class="col-auto"><i class="bi bi-check-circle text-color-theme"></i></div>
                            <div class="col">Chat with him</div>
                            <div class="col-auto align-self-center">
                                <i class="bi bi-chevron-right text-opac small"></i>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item" data-bs-toggle="modal" data-bs-target="#addproductcart">
                        <div class="row gx-3">
                            <div class="col-auto"><i class="bi bi-check-circle text-color-theme"></i></div>
                            <div class="col">Ask for Address</div>
                            <div class="col-auto align-self-center">
                                <i class="bi bi-chevron-right text-opac small"></i>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--News and announcements -->
    <div class="row mb-3">
        <div class="col">
            <h5 class="mb-0">News and Updates</h5>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">
                            <figure class="text-center mb-0 avatar avatar-90 coverimg page-bg rounded">
                                <img src="assets/img/Mechanics/Tutor.png"  alt="">
                            </figure>
                        </div>
                        <div class="col ps-0">
                            <p class="small d-block mb-2">
                                <span class="text-opac">Trend setter</span>
                                <span class="float-end"><span class="text-opac">26 July 2021</span> <i class="bi bi-clock"></i></span>
                            </p>
                            <a href="#" class="text-normal text-color-theme">
                                <h6>Best Tutor in Lahore Sadar Cantt of this month</h6>
                            </a>
                            <div class="mb-1">
                                <figure class="text-center mb-0 avatar avatar-20 coverimg">
                                    <img src="assets/img/user1.jpg" alt="">
                                </figure>
                                Muhammad Bilal
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">
                            <figure class="text-center mb-0 avatar avatar-90 coverimg page-bg rounded">
                                <img src="assets/img/Mechanics/Plumber.png"alt="">
                            </figure>
                        </div>
                        <div class="col ps-0">
                            <p class="small d-block mb-2">
                                <span class="text-opac">ReadOut</span>
                                <span class="float-end"><span class="text-opac">26 July 2021</span> <i class="bi bi-clock"></i></span>
                            </p>
                            <a href="#" class="text-normal text-color-theme">
                                <h6>Best Plumber of this Month</h6>
                            </a>
                            <div class="mb-1">
                                <figure class="text-center mb-0 avatar avatar-20 coverimg">
                                    <img src="assets/img/user2.jpg" alt="">
                                </figure>
                                John Doe
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">
                            <figure class="text-center mb-0 avatar avatar-90 coverimg page-bg rounded">
                                <img src="assets/img/Mechanics/Electrician.png"alt="">
                            </figure>
                        </div>
                        <div class="col ps-0">
                            <p class="small d-block mb-2">
                                <span class="text-opac">Service</span>
                                <span class="float-end"><span class="text-opac">26 July 2021</span> <i class="bi bi-clock"></i></span>
                            </p>
                            <a href="#" class="text-normal text-color-theme">
                                <h6>Never trust on unknown service Provider</h6>
                            </a>
                            <div class="mb-1">
                                <figure class="text-center mb-0 avatar avatar-20 coverimg">
                                    <img src="assets/img/user3.jpg" alt="">
                                </figure>
                                Your Name
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>