
@{
    ViewData["Title"] = "Umrah";
}
 


<div class="text-center">
    <iframe src="http://localhost:4200">
    </iframe>
    <h1 class="display-4">Umrah</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
