<!-- Header -->
<app-header [userData]="user.firstName" (anchorLinkClick)="dataReceivedByEvent($event)"></app-header>
<!-- Header ends -->


<!-- main page content -->
<div class="main-container container pt-70 pb-70">

    <!-- profile picture -->
    <div class="row  mb-4">
        <div class="col-auto">
            <figure class="avatar avatar-100 rounded mx-auto">
                <img src="assets/img/Mehran.jpg" alt="">
            </figure>
        </div>
        <div class="col align-self-center">
            <h5 class="">{{this.user.firstName}}{{this.user.lastName}}</h5>
            <p class="text-opac">Lahore</p>
        </div>
    </div>
    <!-- profile information -->
    <div class="row mb-3">
        <div class="col">
            <h5 class="mb-0">Basic Information</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-light shadow-sm mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group form-floating  mb-3">
                                <input type="text" class="form-control" value="{{this.user.firstName}}" [(ngModel)]="this.user.firstName" placeholder="Name" id="names">
                                <label for="names">First Name</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group form-floating   mb-3">
                                <input type="text" class="form-control" value="{{this.user.lastName }}" [(ngModel)]="this.user.lastName" placeholder="Surname"
                                    id="surnames">
                                <label for="surnames">Last Name</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group form-floating  mb-3">
                                <input type="text" class="form-control" [(ngModel)]="this.user.email" disabled value="{{this.user.email }}"
                                    placeholder="Email or Phone" id="emailphone">
                                <label for="emailphone">Email</label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- add edit address form -->
    <div class="row mb-3">
        <div class="col">
            <h5 class="mb-0">Address Change</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-light shadow-sm mb-4">
                <div class="card-body">
                    <div class="row">

                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                            <div class="form-group form-floating">
                                <input type="text" class="form-control" value="{{this.user.address }}" [(ngModel)]="this.user.address"
                                    placeholder="Address Line 1">
                                <label class="form-control-label" for="address2">Street Address</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                            <div class="form-group form-floating">
                                <input type="text" class="form-control" value="Raipur" id="address6" placeholder="City">
                                <label class="form-control-label" for="address6">City</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                            <div class="form-group form-floating">
                                <input type="text" list="datalistOptions" class="form-control" value="" id="address4"
                                    placeholder="Select Country">
                                <datalist id="datalistOptions">
                                    <option value="Pakistan">
                                    <option value="United States" selected>
                                    <option value="Australia">
                                    <option value="Iran">
                                    <option value="Russia">
                                </datalist>
                                <label class="form-control-label" for="address4">Country</label>
                            </div>
                        </div>
                       
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- change password -->
    <div class="row mb-3">
        <div class="col">
            <h5 class="mb-0">Change Password</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-light shadow-sm mb-4">
                <div class="card-body">
                    <div class="row h-100">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-floating  mb-3">
                                <input type="password" class="form-control" value="{{this.user.password }}" [(ngModel)]="this.user.password" placeholder="Password"
                                    id="password">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-floating ">
                                <input type="password" class="form-control" placeholder="Confirm Password"
                                    id="confirmpassword">
                                <label for="confirmpassword">Confirm Password</label>
                                <button type="button" class="btn btn-link text-danger tooltip-btn"
                                    data-bs-toggle="tooltip" data-bs-placement="left" title="Enter valid Password"
                                    id="passworderror">
                                    <i class="bi bi-info-circle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row h-100 mb-4">
        <div class="col-12 d-grid"><a target="_self" class="btn btn-lg btn-default shadow-sm" (click)="updateProfile()">Update</a></div>
    </div>

</div>
<!-- main page content ends -->